
:root{
  --white:#f1f1f1;
  --black:#040406;
  --dark:#13161e;
  --gray:#3a3d42;
  --dark-brown:#512914;
  --brown:#654920;
  --light-gray:#a7a5a5;
  --light-gray2:#c0c0c0;
  --light-brown:#916239;
  --olive:#a88a4a;
} 